<div class="signup-body">
  {{!-- <div id="fb-root"></div>
<script async defer crossorigin="anonymous"
  src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2&appId=94028869248&autoLogAppEvents=1"></script> --}}



  <nav class="navbar">
    <div class="navbar-wrapper">
      <a href="/" class="brand-logo"><img id="logo" src="">MEALPREP</a>
    </div>
  </nav>
  <div class="section-wrapper">
    <section class="section">
      <h2 class="signup-heading">Sign Up</h2>
      <form class="form" action="/auth/signup" method="POST" id="form-container">
        <label for="username">Username</label><br>
        <input id="username" type="text" name="username" placeholder="JonSnow">

        <br><br>

        <label for="password">Password</label><br>
        <input id="password" type="password" name="password" placeholder="Your password">
        <br>
        {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}

        <br><br>

        <button class="signup-btn">Create account</button>

        <p class="account-message">
          Do you already have an account?
          <a href="/auth/login">Login</a>
        </p>
        <div class="fb-login-button" data-size="large" data-button-type="login_with" data-auto-logout-link="false"
          data-use-continue-as="false"></div>
      </form>
  </div>
</div>
</section>
</div>

<link rel="stylesheet" href="/stylesheets/style.css" />
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">