<div class="sl-shoppinglist-container">
  <h2>This is your shoppinglist</h2>
  <div class="sl-innerDiv">

    <ul>
      {{#each weekArray}}

      {{#with (lookup ../plan @index)}}
      <li>{{breakfast.ingredients}}</li>
      {{/with}}

      {{/each}}
    </ul>
  </div>
  <a href="/welcome">Go back to create a new mealplan for next week</a>
</div>