<div class="welcome">
  <div class="welcome-div">
    <h2 class="welcome-h2">Hi, <span class="username">{{username}}</span>!
    </h2>
    <h3 class="welcome-h3">Start planning your first mealplan</h3>
    <button class="welcome-btn" href="/create-plan">Create Plan</button>
  </div>
</div>