<div class="welcome">
  <div class="welcomeInnerDiv">
    <h2 class="welcomeText">Hello {{name}} start planning your first mealplan </h2>
    <button class="welcomeBtn"><a href="/create-plan" class="welcomeBtnLink">Create Plan</a></button>
  </div>
</div>