<div class="landing-body">
  <div class="navbar-wrapper">
    <a href="/" class="brand-logo"><img id="logo" src="">MEALPREP</a>
  </div>
  </nav>
  <div class="landing-wrapper">
    <h1 class="landing-heading">Welcome to MEALPREP</h1>
    <div class="text-wrapper">
      <p class="landing-text">Mealprep allows you to <span class="span-text">prepare your
          meals</span> for the whole
        week
        and automatically generates a
        <span class="span-text">shopping list</span> and <span class="span-text">weekly plan</span> ready to print.</p>
    </div>
  </div>

  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <div class="buttons">
    <a class="landing-login-btn" href="/auth/login">Login</a>
    <a class="landing-signup-btn" href="/auth/signup">Register</a>
  </div>
</div>

<link rel="stylesheet" href="/stylesheets/style.css" />
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">